h1.white {
color: white;
}

.color {
background-color: rgb(247, 140, 0);

}

div.ejemplo {
    background-color: aquamarine;
    border: 1px; 
    height: 100;
    width: 100;

}

div.azulclaro {
    background-color: aquamarine;
    color: green;
    
}

div.blanco {
    background-color: white;
    height: 20px;
    width: 2500px;
    color: blue;
    
}
div.azul {
    background-color: rgb(0, 20, 199);
    height: 20px;
    width: 2500px;
    
}

div.azulclaro2 {
    background-color: aquamarine;
    height: 20px;
    width: 2500px;
    color: red;
    
}

div.rojo {
    background-color: red;
    height: 20px;
    width: 2500px;
    color: red;
    
}

div.tomate {
    background-color: tomato;
    height: 120px;
    width: 2500px;
    color: black;
    
}

p.letra {
    font-weight: bold;
}

a:hover {
    background-color: yellow;
    color: red;
}